{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">

Class List

</h1>

<div class="row">


<div class="col-md-4 mb-3">

<a href="/class/6th"
style="text-decoration:none;color:black">

<div class="card bg-primary text-white shadow">

<div class="card-body">

<h5>6th Class</h5>

<h2>{{sixth}}</h2>

</div>

</div>

</a>

</div>



<div class="col-md-4 mb-3">

<a href="/class/7th"
style="text-decoration:none;color:black">

<div class="card bg-success text-white shadow">

<div class="card-body">

<h5>7th Class</h5>

<h2>{{seventh}}</h2>

</div>

</div>

</a>

</div>



<div class="col-md-4 mb-3">

<a href="/class/8th"
style="text-decoration:none;color:black">

<div class="card bg-warning shadow">

<div class="card-body">

<h5>8th Class</h5>

<h2>{{eighth}}</h2>

</div>

</div>

</a>

</div>



<div class="col-md-4 mb-3">

<a href="/class/9th"
style="text-decoration:none;color:black">

<div class="card bg-danger text-white shadow">

<div class="card-body">

<h5>9th Class</h5>

<h2>{{ninth}}</h2>

</div>

</div>

</a>

</div>



<div class="col-md-4 mb-3">

<a href="/class/10th"
style="text-decoration:none;color:black">

<div class="card bg-dark text-white shadow">

<div class="card-body">

<h5>10th Class</h5>

<h2>{{tenth}}</h2>

</div>

</div>

</a>

</div>

</div>

{% endblock %}